@import 'bootstrap';

$base-font-size: 1em;
$height-section-map: 650px;
$extra-info-color: #f3953f;
$base-black-whit-opasity: rgba(0, 0, 0, 0.80);
$base-color-black-without-opacity: rgba(32, 41, 51, 1);
$base-color-black-without-opacity-90: rgba(32, 41, 51, 0.9);
$base-color-black-without-opacity-font: #fff;
$foto-full-hd-width: 1024px;
$foto-full-hd-height: 720px;

.uppercas {
  text-transform: uppercase;
}

.inleiding {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  color: $base-color-black-without-opacity;
  margin: 10px;
  margin-bottom: -10px;
}

.element {
  background: $base-color-black-without-opacity;
  margin: 10px;
  color: $base-color-black-without-opacity-font;
  .content {
    padding: -15px;
    hr {
      margin-bottom: -15px;
    }
    display: inline-block;
    margin: 0px;
    width: 70%;
    vertical-align: top;

    @media (max-width: 1550px) {
      width: 60%;
    }
    @media (max-width: 1200px) {
      width: 50%;
    }
    @media (max-width: 850px) {
      width: 100%;
    }
  }
  img {
    min-width: $foto-full-hd-width/3;
    display: inline-block;
    vertical-align: middle;
  }
}

p {
  font-size: $base-font-size *1.1;
}

.nav-font-size {
  font-size: 20px;
}

.back:hover {
  background-color: #4cae4c;
}

.brand-logo {
  height: 70px;
}

.google-maps-search {
  margin-top: 25px;
  position: absolute;
  margin-left: 5%;
  width: 90%;
  background-color: $base-color-black-without-opacity;

  .input-group {
    input {
      color: $base-color-black-without-opacity-font;
      margin-top: 3px;
      border-left: thin solid $base-color-black-without-opacity-font;
      border-right: thin solid $base-color-black-without-opacity-font;
      background-color: rgba(255, 255, 255, 0.01);
      font-size: $base-font-size*1.2;
      &:focus {
        border-color: $base-color-black-without-opacity;
        box-shadow: inset 0 1px 1px $base-color-black-without-opacity, 0 0 8px $base-black-whit-opasity;
        color: $base-color-black-without-opacity-font;
      }
    }
  }
  legend {
    font-size: $base-font-size*1.5;
    background-color: $base-color-black-without-opacity;
    margin-bottom: 0px;
    color: #fff;
    padding-left: 2%;
  }

  input {

  }
  .btn {
    font-size: $base-font-size*1.2;
  }

  .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;

  }

}

.content-home {

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
  }
  p {
    font-size: $base-font-size*2;
  }

  div {

    img {
      position: relative;
      margin-top: 50px;
      left: 40%;
      margin-left: -$height-section-map/4/2;
      max-height: $height-section-map/4;
    }
    button {
      margin: 35px 0px 35px 0px;
      font-size: $base-font-size*2;
      width: 100%;
      padding: 15px;
      color: #fff;
      border: 1px solid #fff;
      text-align: center;
      text-decoration: none;
      background: rgba(32, 41, 51, 0.8);
      text-transform: uppercase;
      text-transform: uppercase;
      transition: background-color 0.2s ease-out,
      color 0.2s ease-out;
      &:hover, &:focus {
        background-color: rgba(32, 41, 51, 1);
        color: #fff;
        transition: background-color 0.3s ease-in,
        color 0.3s ease-in
      }
    }
  }
}

.google-maps-top {
  //display: flex;

  margin-top: -20px;
  background-color: rgba(10, 22, 34, 1);
  min-height: $height-section-map;

  color: $base-color-black-without-opacity-font;
}

.google-maps {

}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.inleiding {
  text-align: center;
  background-color: $extra-info-color;
  color: #fff;
}

.content-container {
  margin-top: 50px;

  text-transform: uppercase;
  .oproep-contact-gegevens {
    text-transform: none;
    background-color: $extra-info-color;
    color: #fff;
    border-radius: 50px;
  }
}

nav {
  text-transform: uppercase;
}

.go-to-content {
  min-height: 100px;
  color: $base-color-black-without-opacity;
  background-color: $base-color-black-without-opacity;
  border: 0px;
  margin-right: 25px;
  &:hover, &:focus {
    cursor: default;
    background-color: #fff;
    color: $base-color-black-without-opacity;
  }

}

.extra-info {
  background-color: $base-color-black-without-opacity;
  color: #fff;
  min-height: 150px;
  text-align: center;
  padding-top: 15px;

  font-size: $base-font-size*2;
  .cijfers {
    font-size: $base-font-size*2;
    margin-top: -15px;
    margin-bottom: -10px;
  }
  hr {
    opacity: 0;
    position: absolute;
    @media (max-width: 992px) {
      position: relative;
      opacity: 1;
    }
  }

}

.foto-gallery {
  padding-top: 50px;
  min-height: 850px;
  background-color: #fff;
  color: #fff;
  .heading {
    color: #000;
    text-align: center;
    margin-bottom: 50px;
    p {
      font-size: $base-font-size * 1.5;
    }
  }
  .img-frame {
    border: thin solid black;
    margin: 0px auto 0px auto;
    text-align: center;


  }
  .caption {
    min-height: 100px;
    background-color: $base-color-black-without-opacity;
    color: $base-color-black-without-opacity-font;
  }
}

.home-header{
  padding: 25px;
  h1{
    font-size: $base-font-size*2;
  }
}


.float-left{
  text-align: left;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.line-headers {
  border-bottom: 3px solid white;
  margin-bottom: 25px;
}

.footer {
  padding-top: 100px;
  background-color: $base-color-black-without-opacity;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 700px;
  clear: both;
  font-size: $base-font-size*1.2;
  color: $base-color-black-without-opacity-font;

  li {
    margin-bottom: 15px;
    font-size: $base-font-size*1.2;
  }
  p {
    font-size: $base-font-size * 1.2;
  }

  border-top: thin solid #000;

  .contact {

    border-left: 1px solid white;

    .btn {
      margin-top: 25px;
      padding: 7px 12px;
      border: 0 none;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: $base-font-size*1.2;
    }

    .btn:focus, .btn:active:focus, .btn.active:focus {
      outline: 0 none;
    }

    .btn-primary {
      background: $base-color-black-without-opacity-font;
      color: $base-color-black-without-opacity;
    }
    .form-control {

      border: thin solid $base-color-black-without-opacity-font;
      background-color: rgba(255, 255, 255, 0.01);
      font-size: $base-font-size*1.2;

    }

    .form-control:focus {
      border-color: $base-color-black-without-opacity;
      box-shadow: inset 0 1px 1px $base-color-black-without-opacity, 0 0 8px $base-black-whit-opasity;
      color: $base-color-black-without-opacity-font;
    }

  }
  .heading-foter {
    font-size: $base-font-size*2;
    margin-bottom: 35px;
  }

}

$img-size: 150px;
.content {
  padding: 20px 20px 40px 20px;
  margin: 10px 10px 0 0;
  overflow: auto;

  .post-thumb {
    float: left;

    img {
      display: block;
      height: $img-size;
      width: $img-size;
      border-radius: $img-size;
    }

  }

  .siteNotice {

    border-left: 1px solid rgba(0, 0, 0, .2);
    padding-left: 20px;
    line-height: 20px;
    margin-left: 180px;
    margin-top: -$img-size - 10;

    p {
      margin-top: -10px;
    }
    a {
      background-color: $base-color-black-without-opacity;
      color: #fff;
      padding: 5px 15px 5px 15px;
      border-radius: 15px;
      font-weight: bold;
      margin-top: 10px;
    }
  }
}

.page {
  margin-top: 25px;

}

//div{
//  background-color: #fff;
//}
.content-body {
  margin: -10px 10px 10px 10px;
  margin-bottom: 100px;
}

.dicription {
  min-height: 600px;
  background-color: #fff;
  color: $base-color-black-without-opacity;

  p {
    font-size: $base-font-size *1.5;
  }

  .beschrijving {
    min-height: 600px;
  }
  .contact {
    min-height: 600px;
    background-color: lightslategray;
    color: #fff;

    p {
      font-size: $base-font-size*1.5;
      margin-top: 35px;
    }
    .float-right {
      text-align: right;
    }
  }
}

.email_show_project {
  h1 {
    margin-bottom: 25px;
  }
  padding-top: 30px;
  background: #54616F;
  height: 500px;
  color: $base-color-black-without-opacity-font;
  .form-control:focus {

    color: $base-color-black-without-opacity-font;
  }
  label {

    font-size: $base-font-size*2;
  }
}

.form-head {
  background-color: $base-color-black-without-opacity;
  color: #fff;
  margin-bottom: 25px;

  padding: 25px;
  h1 {
    text-align: center;
  }
;
}

.add_form {
  padding-bottom: 50px;
  margin-bottom: 75px;
  background-color: #fff;
  label {
    font-size: $base-font-size*2;
  }
  .margin-top-adress {
    margin-top: 25px;
  }

}

.margin-top {
  margin-top: 50px;
}

.form-control {
  border: thin solid $base-color-black-without-opacity;
  background-color: rgba(32, 41, 51, 0.01);
  font-size: $base-font-size*1.5;
  height: 45px;

}

.form-control:focus {
  border-color: $base-color-black-without-opacity;
  box-shadow: inset 0 1px 1px $base-color-black-without-opacity, 0 0 8px $base-black-whit-opasity;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

.oproep-categorie {
  margin-top: 25px;

  legend {
    margin-bottom: 0px;
    font-size: $base-font-size*2;
  }
}

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: $base-font-size*2;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: $base-color-black-without-opacity;
  color: #ffffff;
}

.manage_page {

  margin-top: 25px;
  background-color: $base-color-black-without-opacity;
  color: $base-color-black-without-opacity-font;
  padding-top: 25px;
  padding-bottom: 25px;
}

.white-space {
  min-height: 600px;
}

.a-button {
  padding: 10px;
  margin-top: 10px;
  font-size: $base-font-size*2;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;

  text-align: center;
  &:hover {
    opacity: 1;
    color: #000;
    background-color: rgba(255, 255, 255, 1);
  }

}

.panel > .panel-heading {
  font-size: $base-font-size*2;
  background-color: $base-color-black-without-opacity;
  color: $base-color-black-without-opacity-font;

}

.panel > .panel-body {
  label {
    font-size: $base-font-size*2;
  }

}

.forgot-paswoord {
  font-size: $base-font-size*2;
}

.login_facebook {
  font-size: $base-font-size*1.4;
  padding: 0px 0px 0px 40px;
  height: 100%;
  border-left: thin solid $base-color-black-without-opacity;
}

.social_midia_icon {
  height: 50px;
  width: 50px;
}

.margin_bottom {
  margin-bottom: 200px;
}

.margin_bottom_registreer {
  margin-bottom: 100px;
}

