.navbar-default {
  margin: 0px; }

@media only screen and (max-width: 786px) {
  .footer {
    height: auto; } }
@media only screen and (max-width: 763px) {
  .margin-top {
    margin-top: 20px; }

  .page {
    margin-top: 0px; }

  .navbar-default {
    margin: 0px; }

  .content-home div img {
    left: 0%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 120px; }

  .content-home h1 {
    font-size: 24px;
    text-align: center; }

  .content-home p {
    font-size: 17px; }

  .content-home div button {
    font-size: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .google-maps-top {
    padding: 0px; }

  .google-maps {
    overflow: hidden;
    height: 600px !important; }

  #map {
    left: 0;
    height: 600px !important; }

  .google-maps-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; }

  .input-group {
    width: 100%; }

  .google-maps-search .input-group input {
    width: 100%; }

  .input-group-addon, .input-group-btn, .input-group .form-control {
    display: block;
    width: 100%; }

  .google-maps-search legend {
    padding: 5px;
    text-align: center; }

  .google-maps-search .btn {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .open > .dropdown-menu {
    width: 100%; }

  .content_google-map .post-thumb {
    display: none;
    width: 0%; }
    .content_google-map .post-thumb img {
      width: 30px; }

  .content_google-map .siteNotice {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border: none; }
    .content_google-map .siteNotice h1 {
      margin-top: 0px;
      font-size: 16px; }
    .content_google-map .siteNotice p {
      font-size: 13px; }

  .home-header h1 {
    font-size: 25px; }
  .home-header p {
    font-size: 20px; }

  .navbar-default .navbar-nav > li > a {
    font-size: 15px;
    text-align: center;
    padding: 0px; }

  .foto-gallery .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-top: 0px; }

  .footer {
    height: auto;
    padding: 20px; }
    .footer p, .footer li {
      font-size: 13px; }
    .footer .heading-foter {
      font-size: 23px; }
    .footer .col-md-3 {
      margin-bottom: 40px; }

  .panel-body {
    padding: 30px; }
    .panel-body .btn {
      width: 100%;
      font-size: 20px; }
    .panel-body label {
      font-size: 15px; }

  .panel > .panel-body label {
    font-size: 20px;
    margin-bottom: 10px; }

  .login_facebook {
    padding-left: 0px;
    font-size: 15px;
    border: none; }
    .login_facebook .col-md-12 {
      margin-bottom: 20px; }

  .form-head {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .form-head h1 {
      font-size: 23px; }

  .add_form label {
    font-size: 20px; }

  #main [class*="col-"] {
    padding: 0px; }
  #main .element {
    max-height: 1000px;
    overflow: hidden; }
    #main .element img {
      min-width: auto;
      max-height: 400px; }
  #main h1 {
    font-size: 23px;
    line-height: 1.7; }
  #main .projectForm {
    padding: 30px; }
  #main .dicription {
    padding: 20px; }
    #main .dicription .contact {
      padding: 20px; }
  #main .contact {
    padding: 20px;
    font-size: 13px;
    min-height: auto; }
    #main .contact p strong {
      width: 100%; }
    #main .contact p span {
      width: 100%;
      margin-bottom: 15px; }
  #main .dicription .beschrijving {
    min-height: 200px; }
  #main .email_show_project {
    padding: 20px;
    font-size: 13px; }
  #main .mobileBtn {
    width: 100%;
    margin-top: 20px; }
    #main .mobileBtn #manageBtn {
      width: 100%; }
    #main .mobileBtn .btn {
      width: 100%; }
  #main .mobilePct {
    display: none; }
  #main .manage_page {
    padding-left: 20px;
    padding-right: 20px; }
  #main .add_form {
    padding: 20px; }
  #main .email_show_project label {
    font-size: 15px; }

  .foto-gallery .img-frame {
    margin-bottom: 40px; }
    .foto-gallery .img-frame h3 {
      font-size: 20px; } }

/*# sourceMappingURL=responsive.css.map */
